.Modal {
    position: fixed;
    z-index: 100;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    -webkit-box-shadow: 8px 7px 21px -8px rgba(0,0,0,0.74);
    -moz-box-shadow: 8px 7px 21px -8px rgba(0,0,0,0.74);
    box-shadow: 8px 7px 21px -8px rgba(0,0,0,0.74);
    padding: 16px;
    top: 30%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    transition: all 0.3s ease-out;
    transform: scale(0);
}
