.submit-button {
    display: block;
    margin: 15px auto;
    max-width: 300px;
    width: 100%;
    min-width: 100px;
    box-sizing: border-box;
    background-color: inherit;
}

.button-text {
    display: block;
    box-shadow: 0 10px #999;
    background-color: #ddd;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.1s ease;
    padding: 10px;
}

.button-text:hover {
    background-color: #776f6f;
    color: #fff;
}

.button-text:active {
    box-shadow: 0 0 #999;
    transform: translateY(10px);
}

.disabled-button {
    background-color: grey;
}

.disabled-button:active {
    transform: none;
    box-shadow: 0 10px #999;
}

.disabled-button:hover {
    background-color: grey;
    color: inherit;
}