.link {
    text-align: center;
    padding: 7px;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    width: 30px;
    display: inline-block;
    height: 30px;
}

.back {
    background-color: #313464;
    padding-top: 0;
}

.create {
    background-color: #d4145a;
    margin: 10px auto;
    display: block;
}

.create:hover {
    background-color: #a5174a;
}
