.textCenter {
    text-align: center;
}

.Container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    margin: 20px;
}

.Item {
    display: inline-flex;
    position: relative;
    height: 120px;
    width: 200px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid black;
    cursor: pointer;
    padding: 15px;
    overflow: hidden;
    margin: 0 auto;
    -webkit-box-shadow: 8px 7px 21px -8px rgba(0, 0, 0, 0.74);
    -moz-box-shadow: 8px 7px 21px -8px rgba(0, 0, 0, 0.74);
    box-shadow: 8px 7px 21px -8px rgba(0, 0, 0, 0.74);
}

@media only screen and (max-width: 840px) {
    .Container {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 540px) {
    .Container {
        grid-template-columns: 1fr;
    }
}

.Item > div {
    margin-top: 15px;
}

.disabled {
    overflow: hidden;
    border: 1px dashed black !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.disabled > div {
    display: none;
}

.formItem {
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

.formItem label {
    flex: 1;
    text-align: left;
    min-width: 40px;
}

.formItem input {
    flex: 4;
}

.NameField {
    font-weight: bold;
}

.errorInput {
    color: red;
}